{
  "presets": [
    ["env", { "modules": false }]
  ],
  "env": {
    "commonjs": {
      "presets": [["env", { "useBuiltins": false }]]
    },
    "es": {
      "presets": [["env", { "useBuiltins": false, "modules": false }]]
    }
  }
}
